<ion-view view-title="{{customer.name}}">
    <ion-content>

        <button ng-click="getPhoto()" class="button button-block button-primary">Taka Mynd</button>
        <img ng-src="{{imageURI}}" width="100%" max-width="500px">

        <ion-scroll ng-if="customer.images.length > 0" direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
            <img ng-repeat="image in customer.images" ng-src="{{image}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
        </ion-scroll>

        <form ng-submit="saveCustomer(customer)">
            <h4>Grunn upplýsingar</h4>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nafn</span>
                    <input type="text" ng-model="customer.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Kennitala</span>
                    <input type="tel" ng-model="customer.ssn">
                </label>
                <label class="item item-input">
                    <span class="input-label">Sími</span>
                    <input type="tel" ng-model="customer.phone">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" ng-model="customer.email">
                </label>
            </div>

            <div ng-if="customer.summary.length > 0">
                <h4>Samantekt</h4>
                <ion-list>
                    <ion-item ng-repeat="summary in customer.summary">
                        {{summary}}
                    </ion-item>
                </ion-list>
            </div>

            <div class="list">
                <ion-item class="item-stable" ng-click="toggleGroup(adstandandi)" ng-class="{active: isGroupShown(adstandandi)}">
                    <i class="icon" ng-class="isGroupShown(adstandandi) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Aðstandandi
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(adstandandi)">
                    <label class="item item-input">
                        <input type="text" placeholder="Nafn" ng-model="customer.nextOfKinName">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Sími" ng-model="customer.nextOfKinPhone">
                    </label>
                </ion-item>
            </div>

            <div class="list">
                <ion-item class="item-stable" ng-click="toggleGroup(sjukdomar)" ng-class="{active: isGroupShown(sjukdomar)}">
                    <i class="icon" ng-class="isGroupShown(sjukdomar) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Sjúkdómar
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(sjukdomar)">
                    <h2>Hjarta og æð</h2>
                    <ion-checkbox ng-model="customer.diseases.aedakolkun">Æðakölkun</ion-checkbox>
                    <ion-checkbox ng-model="customer.diseases.aedahnutar">Æðahnútar</ion-checkbox>
                    <ion-checkbox ng-model="customer.diseases.bjugur">Bjúgur</ion-checkbox>
                    <label class="item item-input">
                        <input type="text" placeholder="Blóðþynnandi lyf" ng-model="customer.diseases.blodthinnandiLyf">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Önnur lyf" ng-model="customer.diseases.onnurLyf">
                    </label>
                </ion-item>

                <ion-item class="item-accordion" ng-show="isGroupShown(sjukdomar)">
                    <h2>Sykursýki</h2>
                    <ion-radio name="sykursyki" ng-model="customer.diseases.sykursyki" ng-value=0>Nei</ion-radio>
                    <ion-radio name="sykursyki" ng-model="customer.diseases.sykursyki" ng-value=1>Tegund 1</ion-radio>
                    <ion-radio name="sykursyki" ng-model="customer.diseases.sykursyki" ng-value=2>Tegund 2</ion-radio>
                </ion-item>

                <ion-item class="item-accordion" ng-show="isGroupShown(sjukdomar)">
                    <h2>Gigt</h2>
                    <ion-checkbox ng-model="customer.diseases.slitGigt">Slitgigt</ion-checkbox>
                    <ion-checkbox ng-model="customer.diseases.lidaGigt">Liðagigt</ion-checkbox>
                    <ion-checkbox ng-model="customer.diseases.thvagsyruGigt">Þvagsýrugigt</ion-checkbox>
                    <label class="item item-input">
                        <input type="text" placeholder="Annað" ng-model="customer.diseases.gigtAnnad">
                    </label>
                </ion-item>

                <ion-item class="item-accordion" ng-show="isGroupShown(sjukdomar)">
                    <h2>Aðrir</h2>
                    <label class="item item-input">
                        <input type="text" placeholder="Sjúkdómar" ng-model="customer.diseases.adrirSjukdomar">
                    </label>
                </ion-item>
            </div>

            <div class="list">
                <ion-item class="item-stable" ng-click="toggleGroup(puls)" ng-class="{active: isGroupShown(puls)}">
                    <i class="icon" ng-class="isGroupShown(puls) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Púls
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(puls)">
                    <h2>Arteria dorsalis pedis</h2>
                    <ion-radio name="dorsalisPuls" ng-model="customer.diseases.dorsalisPuls" ng-value=0>Kröftugur</ion-radio>
                    <ion-radio name="dorsalisPuls" ng-model="customer.diseases.dorsalisPuls" ng-value=1>Eðlilegur</ion-radio>
                    <ion-radio name="dorsalisPuls" ng-model="customer.diseases.dorsalisPuls" ng-value=2>Veikur</ion-radio>
                    <h2>Arteria tibialis posterior</h2>
                    <ion-radio name="tibialisPuls" ng-model="customer.diseases.tibialisPuls" ng-value=0>Kröftugur</ion-radio>
                    <ion-radio name="tibialisPuls" ng-model="customer.diseases.tibialisPuls" ng-value=1>Eðlilegur</ion-radio>
                    <ion-radio name="tibialisPuls" ng-model="customer.diseases.tibialisPuls" ng-value=2>Veikur</ion-radio>
                </ion-item>
            </div>

            <div class="list">
                <ion-item class="item-stable" ng-click="toggleGroup(annad)" ng-class="{active: isGroupShown(annad)}">
                    <i class="icon" ng-class="isGroupShown(annad) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Annað
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(annad)">
                    <label class="item item-input">
                        <input type="text" placeholder="Annað" ng-model="customer.annad">
                    </label>
                </ion-item>
            </div>

            <div class="padding">
                <button type="submit" class="button button-block button-positive">Staðfesta</button>
            </div>
        </form>
    </ion-content>
</ion-view>
