/* Empty. Add your own CSS if you like */

/* Border around the painting demo */
#footCanvas {
    border:1px solid black;
    background-image:url('../img/BoothFeetCleaned.png');
    background-size: 100% 100%;
}